.separator {
  border-right: 1px solid #ddd; /* Adjust color as needed */
  height: 50%; /* Adjust height as needed */
  margin: auto 0; /* Vertically center the separator */
}

.container-fluid .jumbotron, .container .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px)
{
.container-fluid .jumbotron, .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
}
}

@media screen and (min-width: 768px)
{
.jumbotron {
    padding-bottom: 48px;
    padding-top: 48px;
}
}

.jumbotron {
  background-color: #eee;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  min-height: 200px;
}


@media (min-width: 992px) { /* This is the breakpoint for 'lg' screens in Bootstrap */
  .container-lg-custom {
    max-width: 80%; /* Replace with your desired width */
  }
}

.loader {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #1a1a1a; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.home-page {
  background-image: url('../../../public/assets/homepageBackground.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.home-page::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* This will create a dimmed effect */
}

.home-content {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}