.separator {
  border-right: 1px solid #ddd; /* Adjust color as needed */
  height: 50%; /* Adjust height as needed */
  margin: auto 0; /* Vertically center the separator */
}

.main-layout-children {
  margin-top: 60px; /* Adjust this value based on the height of your navbar */
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;

}

.container-fluid .jumbotron, .container .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px)
{
.container-fluid .jumbotron, .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
}
}

@media screen and (min-width: 768px)
{
.jumbotron {
    padding-bottom: 48px;
    padding-top: 48px;
}
}

.jumbotron {
  background-color: #eee;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  min-height: 200px;
}

.large-container {
  min-height: 40vh; /* Adjust this value as needed */
}


@media (min-width: 992px) { /* This is the breakpoint for 'lg' screens in Bootstrap */
  .container-lg-custom {
    max-width: 80%; /* Replace with your desired width */
  }
}

.loader {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #1a1a1a; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.image-background {
  background-image: url('../../../public/assets/homepageBackground.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.image-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* This will create a dimmed effect */
}

.image-content {
  position: relative;
  padding: 10px 10px 0 10px;
  border-radius: 10px;
  width: 100%;
}

/* For tablets and small desktops */
@media (min-width: 768px) {
  .image-content {
    width: 80%;
  }
}

/* For medium desktops */
@media (min-width: 992px) {
  .image-content {
    width: 70%;
  }
}

/* For large desktops and TVs */
@media (min-width: 1200px) {
  .image-content {
    width: 60%;
  }
}

.relative {
  position: relative;
}

.exercise-thumbnail {
  width:  auto;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 10px 0 0;
}

.react-datepicker-wrapper {
  width: 100%;
}